[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
	url = https://github.com/stretchr/testify.git
[submodule "src/github.com/kisielk/errcheck"]
	path = src/github.com/kisielk/errcheck
	url = git@github.com:kisielk/errcheck.git
[submodule "src/github.com/kisielk/gotool"]
	path = src/github.com/kisielk/gotool
	url = git@github.com:kisielk/gotool.git
[submodule "src/golang.org/x/tools"]
	path = src/golang.org/x/tools
	url = git@github.com:golang/tools.git
[submodule "src/github.com/adjust/go-wrk"]
	path = src/github.com/adjust/go-wrk
	url = git@github.com:adjust/go-wrk.git
[submodule "src/github.com/uber/go-torch"]
	path = src/github.com/uber/go-torch
	url = git@github.com:uber/go-torch.git
[submodule "src/github.com/fatih/color"]
	path = src/github.com/fatih/color
	url = git@github.com:fatih/color.git
[submodule "src/github.com/jessevdk/go-flags"]
	path = src/github.com/jessevdk/go-flags
	url = git@github.com:jessevdk/go-flags.git
